/* BKMRK: im going to add the font here later
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif; /* terrible color here */
  @apply text-primary;
}
